/* ESTILOS CONTACTO */


#contacto {
    background: radial-gradient(red, white);
    display: grid;
    grid-template: auto 100px / 700px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    input {
        padding: 20px 10px;
        box-sizing: border-box;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        width: 100%;
    }
    textarea {
        padding: 20px 10px;
        box-sizing: border-box;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        width: 100%;
    }
    .redes-sociales {
        justify-self: center;
        padding: 10px 0;
        a {
            color: white;
        }
    }
    form input[type="submit"] {
        background-color: rgb(255, 0, 0);
        font-weight: bold;
        font-size: 28px;
    }



}

